<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Data List</h1>
    <table>
        <thead>
            <tr>
                 {% for column in column_names %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for column in column_names %}
                <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="{{ url_for('add_spares') }}" method="post">
        <h2>Add New Data</h2>
        <label for="spare_name">spare_Name:</label>
        <input type="spare_name" id="spare_name" name="spare_name" required><br>
        <input type="submit" value="Add Data">
    </form>
    <br>
    </body>
</html>
