<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='images/retex.png') }}" alt="Logo" class="header-logo">
            <h1>Customer List</h1>
            <div class="header-links">
            <a class="home-link" href="{{ url_for('home') }}">Home</a>
            <a class="add-customer-link" href="{{ url_for('add_customer') }}" target="_blank">Add customer</a>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('customers') }}">Customers</a></li>
            <li><a href="{{ url_for('employees') }}">Employees</a></li>
            <li><a href="{{ url_for('spares') }}">Spares</a></li>
            <li><a href="{{ url_for('service_data') }}">Service Records</a></li>
            <li><a href="{{ url_for('export') }}">Export Data to Google Drive</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)">Export Data to Local Machine</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('export_data', table_name='customers') }}">Export Customers</a>
                    <a href="{{ url_for('export_data', table_name='spares') }}">Export Spares</a>
                    <a href="{{ url_for('export_data', table_name='products') }}">Export Products</a>
                    <a href="{{ url_for('export_data', table_name='employees') }}">Export Employees</a>
                    <a href="{{ url_for('export_data', table_name='service_data') }}">Export Service Data</a>
                </div>
            </li>
        </ul>
    </nav>
        <div class="container">
        
        <a class="all-customers-link" href="{{ url_for('customers', show_all='true') }}">All customers</a>
        <form method="get" action="{{ url_for('customers') }}">
            <label for="search">Search by customer Name:</label>
            <input type="text" id="search" name="search" placeholder="Enter customer name" value="{{ search }}">
            <input type="submit" value="Search">
        </form>
        {% if customers %}
        <table>
            <thead>
                <tr>
                    <th>customer ID</th>
                    <th>customer Name</th>
                    <th>Customer Since</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer['customer_id'] }}</td>
                    <td>{{ customer['customer_name'] }}</td>
                    <td>{{ customer['customer_name'] }}</td>
                    <td><a href="{{ url_for('customer_details', customer_id=customer['customer_id']) }}">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No customers found.</p>
        {% endif %}
    </div>
</body>
</html>
